* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100vh;
  background-color: #000;
  background: url("https://images.unsplash.com/photo-1626183462405-f1469783dff2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1993&q=80.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #010101b0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__game {
  padding: 2.5vmax;
  background: #010101;
  border-radius: 12px;
  box-shadow: 0px 0px 35px #4c7587;
  text-align: center;
  border: 1.5px solid #45aab2;
}

.container__game-title {
  font-size: 2.5vmax;
  color: #45aab2;
  margin-bottom: 5vh;
}

.container__game-stats-title {
  font-size: 2vmax;
  color: #010101;
  margin-bottom: 2vh;
  background: #cf6732;
}

.container__game-stats {
  display: flex;
  justify-content: space-between;
  gap: 25%;
  color: #0c3853;
  font-weight: 500;
  font-size: 1.175vmax;
}

.container__game-stats-item {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1vmax;
  background: #f8cd64;
  border-radius: 5px;
}

.container__game-coin {
  height: 17.5vmin;
  width: 17.5vmin;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container__game-coin img {
  width: 100%;
}

.container__game-coin-heads,
.container__game-coin-tails {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.container__game-coin-tails {
  transform: rotateX(180deg);
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(3780deg);
  }
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(3960deg);
  }
}

.container__game-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.container__game-button {
  width: 10vmax;
  padding: 1vh 0;
  background-color: #45aab2;
  color: #010101;
  border: 2.25px solid #739BB0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.150vmax;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.container__game-button:focus {
  outline: none;
}

.container__game-button:hover {
  box-shadow: 0 0 3px 1px rgba(69, 170, 178, 0.6), 0 0 10px 4px rgba(69, 170, 178, 0.5), 0 0 15px 6px rgba(69, 170, 178, 0.4);
}

.container__game-button:active {
  transform: scale(0.95);
}

#flip-button:disabled {
  background-color: #e1e0ee;
  border-color: #101020;
  color: #101020;
}

.container__game-author {
  color: #010101;
  font-size: 1vmax;
  font-weight: 400;
  text-align: center;
  padding: 1vh;
  margin-top: 2vh;
  background-color: #739BB0;
}